/* for navbar*/
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #963b01;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #f39c12;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        margin-top: 10px;
    }

    .menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/*.........................................*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #f39c12;
}


/*main-contex*/
/* Existing styles ... */

.main-content {
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    padding: 40px;
    color: #fff;
    min-height: calc(100vh - 140px); /* Adjust based on your navbar and footer heights */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* 404 */
.container404 body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.container404 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-box {
    text-align: center;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.container404 h1 {
    font-size: 80px;
    color: #e74c3c;
    margin-bottom: 10px;
}

.container404 p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.container404 a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.container404 a:hover {
    background-color: #2980b9;
}




